@model IEnumerable<Share.DTOs.DTOubicacion>

@{
    ViewBag.Title = "traerVehiculos";
}

<h2>Ubicacion Vehiculos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matricula)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.lat)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lon)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.hora)
    </td>
    <td>
        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.fecha))
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.matricula)
    </td>
</tr>
    }

</table>
<div id='map' style='width: 900px; height: 400px;'></div>

<style>
    .mapboxgl-ctrl-logo {
        display: none !important;
    }
    
</style>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiY2FybG9zMzI0NzYzMjdldTNoeSIsImEiOiJja2g0azBva20wN29rMnRwY3N6NGs3cWxkIn0.naBthzo1TI6Gy--GPzmYEA';

    var longitud = -56.732051948450575;
    var latitud = -34.33235873819117;

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        antialias: true,
        center: [longitud, latitud],
        zoom: 7
    });

   

    function sinC(str) {
        return str.replace(",",".");
    }

    @foreach (var item in Model)
    {
        <Text> new mapboxgl.Marker({ draggable: false }).setLngLat([sinC("@item.lon"), sinC("@item.lat")]).setPopup(new mapboxgl.Popup({ offset: 25 }).setHTML('<h3> Matricula: ' + "@item.matricula" + '</h3><p> Hora: ' + "@item.hora" + '</p>')).addTo(map); </Text>
    }

    //let TerminalSanJose = new mapboxgl.Marker({ draggable: false }).setLngLat([lat, lon]).setPopup(new mapboxgl.Popup({ offset: 25 }).setHTML('<h3>' + "aaaaaa" + '</h3><p>' + "aaaaaaaaaa" + '</p>')).addTo(map);


</script>