@model IEnumerable<Share.entities.EPersona>

@{
    ViewBag.Title = "traerPersonas";
}

<h2>Asignar roles</h2>

<table class="table">
    <tr>

        <th>
            Identificador de Persona
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            Primer nombre
        </th>
        <th>
            Segundo nombre
        </th>
        <th>
           Primer apellido
        </th>
        <th>
           Segundo apellido
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Documento)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Correo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.pNombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.sNombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.pApellido)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.sApellido)
    </td>
    <td>
        @Html.ActionLink("Asignar Rol", "asignarRol", new { id = item.id })
    </td>
</tr>
}

</table>

<div>
    @Html.ActionLink("Ir al inicio", "Index")
</div>
