@model IEnumerable<Share.DTOs.DTOubicacion>

@{
    ViewBag.Title = "traerVehiculos";
}

<h2>Ubicacion Vehiculos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matricula)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.matricula)
            </td>
        </tr>
    }

</table>
<div id='map' style='width: 400px; height: 300px;'></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiY2FybG9zMzI0NzYzMjdldTNoeSIsImEiOiJja2g0azBva20wN29rMnRwY3N6NGs3cWxkIn0.naBthzo1TI6Gy--GPzmYEA';

    var longitud = -56.732051948450575;
    var latitud = -34.33235873819117;

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        antialias: true,
        center: [longitud, latitud],
        zoom: 7
    });

     

    @for(var i = 0; i < 1 ; i++)
    {
         <Text> let TerminalSanJose = new mapboxgl.Marker({ draggable: false }).setLngLat([-56.7155999, -34.333592]).addTo(map); </Text> 
    }


   // let TerminalSanJose = new mapboxgl.Marker({draggable: false}).setLngLat([-56.7155999, -34.333592]).addTo(map);
    //let PuntaValdez = new mapboxgl.Marker({draggable: false}).setLngLat([-56.700948, -34.585873]).addTo(map);
    //let Libertad = new mapboxgl.Marker({draggable: false}).setLngLat([-56.617723, -34.639545]).addTo(map);

</script>