
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Bienvenido Administrador</h1>
</div>

<br>


<!--RESUMEN tramo y salida no andan ya que le paso un diccionario-->



<h4>Seleccione entidad para gestionar</h4>
<div class="row" style="height:300px">
    <div class="col-md-4">
        <h3 class="btn btn-default">@Html.ActionLink("Vehiculos", "traerVehiculos")</h3>
        <h3 class="btn btn-default">@Html.ActionLink("Viajes", "traerViajes")</h3>
        <h3 class="btn btn-default">@Html.ActionLink("Crear viajes", "crearViaje")</h3>
        <h3 class="btn btn-default">@Html.ActionLink("Paradas", "traerParadas")</h3>
        <h3 class="btn btn-default">@Html.ActionLink("Linea", "traerLinea")</h3>
        <h3 class="btn btn-default">@Html.ActionLink("Tramo", "traerTramo")</h3>
        <h3 class="btn btn-default">@Html.ActionLink("Salida", "traerSalida")</h3>
    </div>
    <div class="col-md-8">
    </div>
</div>

