
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Bienvenido Administrador</h1>
</div>

<br>

<h4>Seleccione entidad para gestionar</h4>
<div class="row" style="height:300px">
    <div class="col-md-4">
        <h3 class="btn btn-default">@Html.ActionLink("Vehiculos", "traerVehiculos")</h3>
        <h3 class="btn btn-default">@Html.ActionLink("Vehiculos", "traerVehiculos")</h3>
        <h3 class="btn btn-default">@Html.ActionLink("Vehiculos", "traerVehiculos")</h3>
        <h3 class="btn btn-default">@Html.ActionLink("Vehiculos", "traerVehiculos")</h3>
        <h3 class="btn btn-default">@Html.ActionLink("Vehiculos", "traerVehiculos")</h3>
        <h3 class="btn btn-default">@Html.ActionLink("Vehiculos", "traerVehiculos")</h3>
    </div>
    <div class="col-md-8">
    </div>
</div>

