@model Share.DTOs.DTOUtilidad

@{
    ViewBag.Title = "reporteUtilidad";
}

@{
    var data = ViewBag.Message;
}

<h2>Reporte utilidad</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="height:400px">


        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (@data == "v")
        {
            <div class="form-group">
                @Html.LabelFor(model => model.idViaje, "Id Viaje", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.idViaje, new { htmlAttributes = new { @class = "form-control" , @min = "0" } })
                    @Html.ValidationMessageFor(model => model.idViaje, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        @if (@data == "s")
        {
            <div class="form-group">
                @Html.LabelFor(model => model.fechaDesde, "Fecha desde", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fechaDesde, new { htmlAttributes = new { @class = "form-control", @type = "Date" } })
                    @Html.ValidationMessageFor(model => model.fechaDesde, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                @Html.LabelFor(model => model.fechaHasat, "Fecha hasta", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fechaHasat, new { htmlAttributes = new { @class = "form-control", @type = "Date" } })
                    @Html.ValidationMessageFor(model => model.fechaHasat, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                @Html.LabelFor(model => model.salida, "Id Salida", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.salida, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                    @Html.ValidationMessageFor(model => model.salida, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        @if (@data == "l")
        {
            <div class="form-group">
                @Html.LabelFor(model => model.fechaDesde, "Fecha desde", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fechaDesde, new { htmlAttributes = new { @class = "form-control", @type = "Date" } })
                    @Html.ValidationMessageFor(model => model.fechaDesde, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                @Html.LabelFor(model => model.fechaHasat, "Fecha hasta", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fechaHasat, new { htmlAttributes = new { @class = "form-control", @type = "Date" } })
                    @Html.ValidationMessageFor(model => model.fechaHasat, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.linea, "Id Linea", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.linea, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                    @Html.ValidationMessageFor(model => model.linea, "", new { @class = "text-danger" })
                </div>
            </div>

        }


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Consultar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Atrás", "SelectreporteU")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
