@model IEnumerable<Share.entities.EVehiculo>

@{
    ViewBag.Title = "Traer vehiculos";
}

<h2>Vehículo</h2>

<p>
    @Html.ActionLink("Nuevo vehiculo", "crearVehiculo")
</p>
<table class="table">
    <tr>
        <th>
            Matrícula
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
           Cantidad de Asientos
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantAsientos)
            </td>
            <td>
                @Html.ActionLink("Editar", "editarVehiculo", new { id = item.Matricula })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("ir al inicio", "index")
</div>
