@model IEnumerable<Share.entities.ESalida>

@{
    ViewBag.Title = "traerSalidasV";
}

<h2>Seleccione salida</h2>

<table class="table">
    <tr>
        <th>
            Identificador de Salida
        </th>
        <th>
            Hora Inicio
        </th>
        <th>
           Identificador de Conductor
        </th>
        <th>
           Matrícula
        </th>
        <th>
            Identificador de Linea
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdConductor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdVehiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdLinea)
        </td>
        <td>
            @Html.ActionLink("Seleccionar", "crearViaje", new {  id=item.IdSalida }) 
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Ir al inicio", "Index")
</div>
