@model IEnumerable<Share.entities.ETramo>

@{
    ViewBag.Title = "traerTramo";
}

<h2>Tramo</h2>

<p>
    @Html.ActionLink("Nuevo tramo", "crearTramo")
</p>
<table class="table">
    <tr>
        <th>
            Identificador de Tramo
        </th>
        <th>
            Identificador de Parada
        </th>
        <th>
           Tiempo estimado
        </th>
        <th>
            Orden 
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdLinea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdParada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoEstimado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orden)
            </td>
            <td>
                @Html.ActionLink("Editar", "editarTramo", new { id = item.IdParada , id2 = item.IdLinea}) 
            </td>
        </tr>
    }

</table>


<div>
    @Html.ActionLink("ir al inicio", "index")
</div>
