@model IEnumerable<Share.entities.EPasaje>

@{
    ViewBag.Title = "verReportePasaje";
}

<h2>Reporte de pasajes vendidos</h2>

<table class="table">
    <tr>
        <th>
            Identificador de Pasaje
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asientos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documento)
        </th>
        <th>
            Tipo documento
        </th>
        <th>
            Identificador de Ususario
        </th>
        <th>
            Identificador de Viaje
        </th>
        <th>
            Parada Destino
        </th>
        <th>
            Parada Origen
        </th>
    </tr>
    @if (Model.Count() > 0)
    {

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPasaje)
                </td>
                <td>
                    @if (item.Asientos != -1)
                    {
                        if (item.Asientos == null)
                        {
                            <text>No selecciona</text>
                        }
                        @Html.DisplayFor(modelItem => item.Asientos)
                    }
                    else
                    {
                        <text>No selecciona</text>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDocuemtno)
                </td>
                <td>
                    @if (item.IdUsuario == null)
                    {
                        <text>Comprado desde terminal</text>
                    }
                    @Html.DisplayFor(modelItem => item.IdUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdViaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdParadaDestino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdParadaOrigen)
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>
                Identificador no encontrado
            </td>
            <td>
               

            </td>
            <td>
               
            </td>
            <td>

            </td>
            <td>
              
            </td>
            <td>
             
            </td>
            <td>
             
            </td>
            <td>
              
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("ir al inicio", "Index")
</div>
