@model IEnumerable<Share.entities.EViaje>

@{
    ViewBag.Title = "lstViajes";
}

<h2>Seleccione viaje</h2>
<span>Solo se muestran viajes en curso.</span>
<br>
<table class="table">
    <tr>
        <th>
           Id viaje
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finalizado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
           Hora inicio
        </th>
        <th>
            Identificador de salida
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdViaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Finalizado)
        </td>
        <td>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Fecha))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicioReal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdSalida)
        </td>
        <td>
            @Html.ActionLink("Seleccionar", "ingresarHF", new {  id=item.IdViaje }) 
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Ir al Inicio", "Index")
</div>
