@model IEnumerable<Share.entities.ESalida>

@{
    ViewBag.Title = "selectPDestino";
}

<h2>Seleccione hora de salida</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdVehiculo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdVehiculo)
        </td>
        <td>
            @Html.ActionLink("Seleccionar", "selecSalida", new {  id=item.IdSalida }) 
        </td>
    </tr>
}

</table>
